apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: cassandra
  labels:
    app: cassandra
spec:
  serviceName: cassandra
  replicas: 3
  selector:
    matchLabels:
      app: cassandra
  template:
    metadata:
      labels:
        app: cassandra
    spec:
      terminationGracePeriodSeconds: 500
      containers:
        - name: cassandra
          image: gcr.io/google-samples/cassandra:v13
          imagePullPolicy: Always
          ports:
            - containerPort: 7000
              name: intra-node
            - containerPort: 7001
              name: tls-intra-node
            - containerPort: 7199
              name: jmx
            - containerPort: 9042
              name: cql
          # these limits are far too low
          resources:
            limits:
              cpu: "2000m"
              memory: 1Gi
            requests:
              cpu: "2000m"
              memory: 1Gi
          # TODO - try and figure this out, create an exception in the admission controller
          # to allow cassandra pods to use IPC_LOCK to prevent swap usage and potentially boost performance.
          # look at: https://kubernetes.io/docs/concepts/security/pod-security-admission/#workload-resources-and-pod-templates
          #securityContext:
          #  capabilities:
          #    add:
           #     - IPC_LOCK
          lifecycle:
            preStop:
              exec:
                command:
                  - /bin/sh
                  - -c
                  - nodetool drain
          env:
            - name: MAX_HEAP_SIZE
              value: 512M
            - name: HEAP_NEWSIZE
              value: 100M
            - name: CASSANDRA_SEEDS
              value: "cassandra-0.cassandra.default.svc.cluster.local"
            - name: CASSANDRA_CLUSTER_NAME
              value: "rts-cassandra-cluster"
            - name: CASSANDRA_DC
              value: "donutsloth-uk"
            - name: CASSANDRA_RACK
              value: "Rack0"
            - name: POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
          readinessProbe:
            exec:
              command:
                - /bin/bash
                - -c
                - /ready-probe.sh
            initialDelaySeconds: 15
            timeoutSeconds: 5
          # These volume mounts are persistent. They are like inline claims,
          # but not exactly because the names need to match exactly one of
          # the stateful pod volumes.
          volumeMounts:
            - name: cassandra-data
              mountPath: /cassandra_data
  # These are converted to volume claims by the controller
  # and mounted at the paths mentioned above.
  # do not use these in production until ssd GCEPersistentDisk or other ssd pd
      volumes:
        - name: cassandra-data
          persistentVolumeClaim:
            claimName: smb-pvc